body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #55d9df, #ff4cdb);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.login {
    width: 400px;
    color: white;
}

.login h1 {
    text-align: center;
    margin-bottom: 10px;
}

.login p {
    text-align: center;
}

.login label {
    font-weight: bold;
    font-size: 20px;
}

.login input {
    height: 55px;
    border-radius: 12px;
}

.login button {
    height: 60px;
    background-color: black;
    border: none;
    font-size: 22px;
    font-weight: bold;
    border-radius: 12px;
}